---
import { Button } from "@/components/ui/button";
---

<section
    class="h-screen flex flex-col items-center justify-center text-center px-4"
>
    <h1 class="text-4xl md:text-6xl font-bold mb-4">
        The voice of manufacturing data
    </h1>
    <p class="text-lg md:text-xl mb-8 max-w-2xl">
        Lyneo Data provides real-time stream processing and analytics to help
        you understand and optimize your operations.
    </p>
    <!-- <Button client:load>Contact Sales</Button> -->
</section>
